.p-0{
    background-color:blue;
    border:2px solid black;
    color: black
}
.p-1{
    background-color:red;
    border:2px solid black;
    color: black
}
.p-2{
    background-color:blue;
    border:2px solid black;
    color: black
}
.p-3{
    background-color:red;
    border:2px solid black;
    color: black
}
.p-4{
    background-color:blue;
    border:2px solid black;
    color: black
}
.p-5{
    background-color:red;
    border:2px solid black;
    color: black
}